---
import { Icon } from '@steeze-ui/svelte-icon';
import { GlobeAlt } from '@steeze-ui/heroicons';
import { languageTag } from '~/paraglide/runtime';
const { class: className } = Astro.props;
---

<div
    class=`${className} flex cursor-pointer flex-row gap-1 rounded-xl border border-nextmu-green p-1.5 text-white hover:border-nextmu-green-hover active:border-nextmu-green-active bg-gray-500/45`
    data-hs-overlay="#nxmu-language-modal"
>
    <Icon class="drop-shadow-text size-6" src={GlobeAlt} theme="outline" />
    <span class="drop-shadow-text mr-0.5 font-medium uppercase"
        >{languageTag().split('-')[0]}</span
    >
</div>
